.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

table caption {
    padding: .5em 0;
}

table.dataTable th,
table.dataTable td {
    white-space: nowrap;
}

.p {
    text-align: center;
    padding-top: 140px;
    font-size: 14px;
    background-color: cyan;
}

.header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu li:hover {
    background-color: #0099cc;
}

.aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}


/* For mobile phones: */

[class*="col-"] {
    width: 100%;
}

.i-tiny-hide {
    display: show;
}

.i-tiny {
    /* display: block;
  text-align: center;
  width: 100% !important; */
}

span:hover+div {
    display: block;
}

.hover_blur:hover {
    filter: blur(8px);
}

@media (max-width:300px) {
    .w3-modal-content {
        margin: 0 10px;
        width: auto !important
    }
    .w3-modal {
        padding-top: 30px
    }
    .w3-topnav a {
        display: block
    }
    .w3-navbar li:not(.w3-opennav) {
        float: none;
        width: 100% !important
    }
    .w3-navbar li.w3-right {
        float: none !important
    }
    .w3-topnav .w3-dropdown-hover .w3-dropdown-content,
    .w3-navbar .w3-dropdown-click .w3-dropdown-content,
    .w3-navbar .w3-dropdown-hover .w3-dropdown-content,
    .w3-dropdown-hover.w3-mobile .w3-dropdown-content,
    .w3-dropdown-click.w3-mobile .w3-dropdown-content {
        position: relative
    }
    .w3-topnav,
    .w3-navbar {
        text-align: center
    }
    .w3-hide-small {
        display: none !important
    }
    .i-tiny-hide {
        display: none !important
    }
    .i-tiny {
        display: block;
        text-align: center;
        width: 100% !important;
    }
    .w3-layout-col,
    .w3-mobile {
        display: block;
        width: 100% !important
    }
    .w3-bar-item.w3-mobile,
    .w3-dropdown-hover.w3-mobile,
    .w3-dropdown-click.w3-mobile {
        text-align: center
    }
    .w3-dropdown-hover.w3-mobile,
    .w3-dropdown-hover.w3-mobile .w3-btn,
    .w3-dropdown-hover.w3-mobile .w3-button,
    .w3-dropdown-click.w3-mobile,
    .w3-dropdown-click.w3-mobile .w3-btn,
    .w3-dropdown-click.w3-mobile .w3-button {
        width: 100%
    }
}


/*






*/

@media (min-width:601px) {
    .w3-col.m1 {
        width: 8.33333%
    }
    .w3-col.m2 {
        width: 16.66666%
    }
    .w3-col.m3,
    .w3-quarter {
        width: 24.99999%
    }
    .w3-col.m4,
    .w3-third {
        width: 33.33333%
    }
    .w3-col.m5 {
        width: 41.66666%
    }
    .w3-col.m6,
    .w3-half {
        width: 49.99999%
    }
    .w3-col.m7 {
        width: 58.33333%
    }
    .w3-col.m8,
    .w3-twothird {
        width: 66.66666%
    }
    .w3-col.m9,
    .w3-threequarter {
        width: 74.99999%
    }
    .w3-col.m10 {
        width: 83.33333%
    }
    .w3-col.m11 {
        width: 91.66666%
    }
    .w3-col.m12 {
        width: 99.99999%
    }
}

@media (min-width:993px) {
    .w3-col.l1 {
        width: 8.33333%
    }
    .w3-col.l2 {
        width: 16.66666%
    }
    .w3-col.l3,
    .w3-quarter {
        width: 24.99999%
    }
    .w3-col.l4,
    .w3-third {
        width: 33.33333%
    }
    .w3-col.l5 {
        width: 41.66666%
    }
    .w3-col.l6,
    .w3-half {
        width: 49.99999%
    }
    .w3-col.l7 {
        width: 58.33333%
    }
    .w3-col.l8,
    .w3-twothird {
        width: 66.66666%
    }
    .w3-col.l9,
    .w3-threequarter {
        width: 74.99999%
    }
    .w3-col.l10 {
        width: 83.33333%
    }
    .w3-col.l11 {
        width: 91.66666%
    }
    .w3-col.l12 {
        width: 99.99999%
    }
}

.w3-content {
    max-width: 980px;
    margin: auto
}

.w3-rest {
    overflow: hidden
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}