{% extends 'main/base.html' %}

{%block fo_base%}<h9>こんにちは!!!!<h9>{%endblock%}
{%block title%} こんにちは!!!!{%endblock%}

{% block content %}
<h1>Home Page</h1>
<h2>this is the home page for the OSG web-app</h2>
<h2>here surveyors will:</h2>
<h5>/t login to accounts</h5>
<h5>/t check a job's pool</h5>
<h5>/t upload cases content</h5>
<h5>/t find educational information</h5>
<h5>/t execute apps to train models</h5>
<br>_____________________</br>
<h4>admins will</h4>
<h5>/t subscribe job to the pool</h5>
<h5>/t subscribe features to train</h5>
<h5>/t subscribe users</h5>
<h5>/t subscribe run maintenance routines</h5>
{% endblock %}

