#site-header {
	background: #afafaf;
	position: relative;
  background-color: #afafaf;
  margin-bottom: 2.5rem;
}

.header-inner {
	max-width: 168rem;
	padding: 2rem 0;
	z-index: 100;
  margin-left: auto;
  margin-right: auto;
}

/* Header Titles ----------------------------- */

.header-titles-wrapper {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 0 4rem;
	text-align: center;
}

body:not(.enable-search-modal) .header-titles-wrapper {
	justify-content: flex-start;
	padding-left: 0;
	text-align: left;
}

.site-title,
.site-logo,
.site-description {
	margin: 0;
}

.site-title {
	font-size: 1.6rem;
  font-family: "Inter",sans-serif;
	font-weight: 799;
	line-height: 1;
  margin-left: 2.4rem;
}

.site-title a {
	color: inherit;
	display: block;
	text-decoration: none;
}

.site-title a:hover,
.site-title a:focus {
	text-decoration: underline;
}

.site-description {
  margin-left: 2rem;
	color: #3a3a3a;
	font-size: 1.4rem;
  font-family: sans-serif;
	/* font-weight: 500; */
	letter-spacing: -0.0311em;
	transition: all 0.15s linear;
  z-index: 1000;
  text-align: left;
}

.site-logo a,
.site-logo img {
	display: block;
}

.header-titles .site-logo .site-logo {
	margin: 0;
}

.site-logo img {
	max-height: 6rem;
	margin: 0 auto;
	width: auto;
}

body:not(.enable-search-modal) .site-logo img {
	margin: 0;
}

/* Overlay Header ---------------------------- */

.overlay-header #site-header {
	background: transparent;
	margin: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 2;
}

.overlay-header .header-inner {
	color: #fff;
}

.overlay-header .site-description,
.overlay-header .toggle {
	color: inherit;
}

.overlay-header .header-inner .toggle-wrapper::before {
	background-color: currentColor;
	opacity: 0.25;
}

.admin-bar.overlay-header #site-header {
	top: 32px;
}

@media (max-width: 800px) {
  #site-header{
    align-content: center;
		align-items: center;
		justify-content: center;
		text-align: center;
		background-color: red;
  }
	.header-inner section-inner{
		align-content: center;
		align-items: center;
		justify-content: center;
		text-align: center;
		background-color: red;
	}
	.header-titles-wrapper{
		align-content: center;
		align-items: center;
		justify-content: center;
		text-align: center;
		background-color: red;
	}
}
