body {
  color: black  ;
  margin: 0;
  font-size: 13px;
  font-family: sans-serif
}

a {
  color: green;
}

a img {
  border: 0
}

h2 {
  margin: 15px 0
}

.loader {
  display: inline-block;
  background-image: url("images/loader.gif");
  vertical-align: middle;
  width: 16px;
  height: 16px
}


.button {
  user-select: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  background: #FF2449;
  color: white;
  text-decoration: none;
  padding: 0 10px;
  font-size: 14px;
  text-shadow: 0 1px 0 #c3223e;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.21);
  text-align: center;
  line-height: 33px;
  font-weight: bold;
  height: 35px
}

.button:hover {
  background: #blue;
}

.button:active {
  background-color: #e1193b;
  position: relative;
  top: 1px
}

.button.fat {
  font-size: 18px;
  letter-spacing: 0.025em;
  line-height: 38px;
  font-weight: 900;
  height: 40px;
  padding: 0 20px
}

.button.fat:hover {
  box-shadow: none
}

.button.fat.disabled {
  border-bottom: 4px solid #868686
}

.button.small {
  font-size: 14px;
  height: 20px;
  line-height: 18px;
  font-weight: normal
}

.button.cancel {
  opacity: 0.8;
  filter: grayscale(80%)
}

.button:focus {
  outline-color: #361275
}

.dark_theme .button:focus {
  outline-color: white
}

.button.outline {
  background: transparent;
  border: 1px solid rgba(255, 36, 73, 0.4);
  color: #FF2449;
  text-shadow: none
}

.button.outline:hover {
  border: 1px solid rgba(255, 36, 73, 0.6);
}

.button.disabled {
  opacity: 0.5;
  filter: grayscale(100%)
}

.button.disabled:focus {
  outline: 0
}

.button.disabled:active {
  position: static
}

a.learn_more, .learn_more a {
  color: blue;
  text-decoration: none
}

.dark_theme a.learn_more, .dark_theme .learn_more a {
  color: blue
}

a.learn_more:hover, .learn_more a:hover {
  text-decoration: underline
}

.global_flash {
  position: fixed;
  z-index: 101;
  top: 0px;
  left: 50%;
  background-color: #73c3e3;
  background-image: linear-gradient(bottom, #5ebade 0%, #88CCE7 100%);
  background-image: -webkit-linear-gradient(bottom, #5ebade 0%, #88CCE7 100%);
  background-image: -moz-linear-gradient(bottom, #5ebade 0%, #88CCE7 100%);
  background-image: -o-linear-gradient(bottom, #5ebade 0%, #88CCE7 100%);
  background-image: -ms-linear-gradient(bottom, #5ebade 0%, #88CCE7 100%);
  color: white;
  text-shadow: 1px 1px 1px #248ab2;
  border-radius: 0 0 5px 5px;
  padding: 8px 16px;
  padding-top: 15px;
  cursor: normal;
  font-size: 18px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6)
}

.global_flash.error {
  background-color: #c33838;
  background-image: linear-gradient(bottom, #b52c2c 0%, #D14343 100%);
  background-image: -webkit-linear-gradient(bottom, #b52c2c 0%, #D14343 100%);
  background-image: -moz-linear-gradient(bottom, #b52c2c 0%, #D14343 100%);
  background-image: -o-linear-gradient(bottom, #b52c2c 0%, #D14343 100%);
  background-image: -ms-linear-gradient(bottom, #b52c2c 0%, #D14343 100%);
  text-shadow: 1px 1px 1px #631818
}

.global_flash.animated {
  transition: all 0.25s ease-in-out
}

.formatted {
  font-size: 16px
}

.formatted p, .formatted ul, .formatted ol {
  line-height: 1.5
}

.formatted p {
  margin: 0 0 20px 0
}

.formatted h1, .formatted h2, .formatted h3, .formatted h4 {
  font-size: 18px;
  margin: 0 0 10px 0
}

.formatted ul, .formatted ol {
  margin: 0 0 20px 0;
  padding-left: 2.0em
}

.formatted hr {
  border: 0;
  height: 1px;
  background: #dadada
}

.dark_theme .formatted hr {
  background: rgba(255, 255, 255, 0.1)
}

.formatted img {
  max-width: 100%
}

.warning_box {
  background: #fffdbd;
  color: #59583b;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 16px
}

.dark_theme .warning_box {
  background: rgba(255, 253, 189, 0.1);
  color: #ddd
}

.warning_box h2, .warning_box h3, .warning_box h4 {
  color: #3a3a27
}

.warning_box a {
  color: #FF2449
}

.warning_box a:hover {
  color: #ff3e5e
}

.warning_box :last-child {
  margin-bottom: 0
}

.loader_bar {
  position: relative;
  height: 2px
}

.loader_bar .loader_bar_slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #FF2449;
  animation: loader-left 0.8s cubic-bezier(0.55, 0.45, 0.55, 0.45) infinite, loader-right 0.8s cubic-bezier(0.45, 0.55, 0.45, 0.55) infinite;
  animation-direction: alternate
}

.text-center {
  text-align: center
}

.text-right {
  text-align: right
}

.text-justify {
  text-align: justify
}

.user_formatted {
  word-wrap: break-word
}

.user_formatted img, .user_formatted iframe {
  max-width: 100%;
  border: 0
}

.user_formatted pre {
  white-space: pre-wrap
}

.user_formatted table {
  border: 1px solid;
  border-color: #dadada
}

.dark_theme .user_formatted table {
  border-color: rgba(255, 255, 255, 0.1)
}

.user_formatted table td, .user_formatted table th {
  padding: 5px
}

.user_formatted figure {
  margin: 1em 0
}

.user_formatted figure figcaption {
  margin-top: 0.5em;
  font-size: 80%;
  opacity: 0.8
}

.user_formatted .embed_preload {
  border: 0;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  max-width: 100%
}

.user_formatted .embed_preload:before {
  content: "Click to activate embed";
  color: white;
  padding-top: 10px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6) none 50% 50% no-repeat;
  transition: background-size 0.2s ease
}

@-webkit-keyframes popin {
  0% {
    opacity: 0;
    transform: scale(0.8)
  }

  75% {
    transform: scale(1.1)
  }

  100% {
    opacity: 1;
    transform: scale(1)
  }
}

@-moz-keyframes popin {
  0% {
    opacity: 0;
    transform: scale(0.8)
  }

  75% {
    transform: scale(1.1)
  }

  100% {
    opacity: 1;
    transform: scale(1)
  }
}

@-ms-keyframes popin {
  0% {
    opacity: 0;
    transform: scale(0.8)
  }

  75% {
    transform: scale(1.1)
  }

  100% {
    opacity: 1;
    transform: scale(1)
  }
}

@keyframes popin {
  0% {
    opacity: 0;
    transform: scale(0.8)
  }

  75% {
    transform: scale(1.1)
  }

  100% {
    opacity: 1;
    transform: scale(1)
  }
}

@-webkit-keyframes bouncein {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.3)
  }

  90% {
    transform: scale(0.9)
  }

  100% {
    transform: scale(1)
  }
}

@-moz-keyframes bouncein {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.3)
  }

  90% {
    transform: scale(0.9)
  }

  100% {
    transform: scale(1)
  }
}

@-ms-keyframes bouncein {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.3)
  }

  90% {
    transform: scale(0.9)
  }

  100% {
    transform: scale(1)
  }
}

@keyframes bouncein {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.3)
  }

  90% {
    transform: scale(0.9)
  }

  100% {
    transform: scale(1)
  }
}

@-webkit-keyframes loader-left {
  from {
    left: 0
  }

  to {
    left: 90%
  }
}

@-moz-keyframes loader-left {
  from {
    left: 0
  }

  to {
    left: 90%
  }
}

@-ms-keyframes loader-left {
  from {
    left: 0
  }

  to {
    left: 90%
  }
}

@keyframes loader-left {
  from {
    left: 0
  }

  to {
    left: 90%
  }
}

@-webkit-keyframes loader-right {
  from {
    right: 90%
  }

  to {
    right: 0
  }
}

@-moz-keyframes loader-right {
  from {
    right: 90%
  }

  to {
    right: 0
  }
}

@-ms-keyframes loader-right {
  from {
    right: 90%
  }

  to {
    right: 0
  }
}

@keyframes loader-right {
  from {
    right: 90%
  }

  to {
    right: 0
  }
}

.perf_panel {
  opacity: .5;
  transition: all 0.2s ease;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: white;
  white-space: nowrap;
  padding: 5px 10px;
  border: 1px solid #dadada;
  font-size: 16px;
  line-height: 1.5;
  z-index: 2
}

@media (max-width: 960px) {
  .perf_panel {
    display: none
  }
}

.perf_panel:hover {
  opacity: 1;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1)
}

.perf_panel .stat_row {
  display: inline-block
}

.perf_query_log_widget details[open] summary {
  opacity: 0.3
}

@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) rotate(0deg)
  }

  40%, 43% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -20px, 0) rotate(10deg)
  }

  70% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -10px, 0) rotate(-10deg)
  }

  90% {
    transform: translate3d(0, -3px, 0) rotate(0deg)
  }
}

@-moz-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) rotate(0deg)
  }

  40%, 43% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -20px, 0) rotate(10deg)
  }

  70% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -10px, 0) rotate(-10deg)
  }

  90% {
    transform: translate3d(0, -3px, 0) rotate(0deg)
  }
}

@-ms-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) rotate(0deg)
  }

  40%, 43% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -20px, 0) rotate(10deg)
  }

  70% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -10px, 0) rotate(-10deg)
  }

  90% {
    transform: translate3d(0, -3px, 0) rotate(0deg)
  }
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) rotate(0deg)
  }

  40%, 43% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -20px, 0) rotate(10deg)
  }

  70% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -10px, 0) rotate(-10deg)
  }

  90% {
    transform: translate3d(0, -3px, 0) rotate(0deg)
  }
}

@-webkit-keyframes drop_down {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 20px, 0)
  }
}

@-moz-keyframes drop_down {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 20px, 0)
  }
}

@-ms-keyframes drop_down {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 20px, 0)
  }
}

@keyframes drop_down {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 20px, 0)
  }
}

@-webkit-keyframes popout {
  0% {
    opacity: 1;
    transform: scale(1, 1)
  }

  100% {
    opacity: 0;
    transform: scale(1.1, 1.1)
  }
}

@-moz-keyframes popout {
  0% {
    opacity: 1;
    transform: scale(1, 1)
  }

  100% {
    opacity: 0;
    transform: scale(1.1, 1.1)
  }
}

@-ms-keyframes popout {
  0% {
    opacity: 1;
    transform: scale(1, 1)
  }

  100% {
    opacity: 0;
    transform: scale(1.1, 1.1)
  }
}

@keyframes popout {
  0% {
    opacity: 1;
    transform: scale(1, 1)
  }

  100% {
    opacity: 0;
    transform: scale(1.1, 1.1)
  }
}

.animate_bounce {
  animation: bounce 0.5s ease
}

.animate_popout {
  animation-fill-mode: forwards;
  animation: popout 0.25s ease-out forwards
}

.animate_drop_down {
  animation: drop_down 0.25s ease forwards
}

.animate_heartbeat {
  animation: heartbeat 0.3s ease
}

@-webkit-keyframes heartbeat {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.1)
  }

  100% {
    transform: scale(1)
  }
}

@-moz-keyframes heartbeat {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.1)
  }

  100% {
    transform: scale(1)
  }
}

@-ms-keyframes heartbeat {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.1)
  }

  100% {
    transform: scale(1)
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.1)
  }

  100% {
    transform: scale(1)
  }
}

@-webkit-keyframes intro {
  0% {
    opacity: 0;
    transform: translate(0, 20px)
  }

  100% {
    opacity: 1;
    transform: translate(0, 0)
  }
}

@-moz-keyframes intro {
  0% {
    opacity: 0;
    transform: translate(0, 20px)
  }

  100% {
    opacity: 1;
    transform: translate(0, 0)
  }
}

@-ms-keyframes intro {
  0% {
    opacity: 0;
    transform: translate(0, 20px)
  }

  100% {
    opacity: 1;
    transform: translate(0, 0)
  }
}

@keyframes intro {
  0% {
    opacity: 0;
    transform: translate(0, 20px)
  }

  100% {
    opacity: 1;
    transform: translate(0, 0)
  }
}

@-webkit-keyframes scroll_background {
  from {
    background-position: 0 0
  }

  to {
    background-position: -30px 0
  }
}

@-moz-keyframes scroll_background {
  from {
    background-position: 0 0
  }

  to {
    background-position: -30px 0
  }
}

@-ms-keyframes scroll_background {
  from {
    background-position: 0 0
  }

  to {
    background-position: -30px 0
  }
}

@keyframes scroll_background {
  from {
    background-position: 0 0
  }

  to {
    background-position: -30px 0
  }
}
input, button {
  font-family: Lato, sans-serif;
}

button.textlike {
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  color: #da2c49;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit
}

body {
  background: #eee
}

body.frame_maximized {
  overflow: hidden
}

abbr {
  text-decoration: none;
  cursor: help
}

@media (max-width: 1000px) {
  .responsive .wrapper {
    padding: 0 20px
  }
}

@media (max-width: 600px) {
  .responsive .wrapper {
    padding: 0
  }
}

.inner_column {
  width: 960px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 40px;
  background: white;
  overflow: hidden
}

.responsive .inner_column {
  max-width: 960px;
  width: auto
}

@media (max-width: 1000px) {
  .responsive .inner_column {
    padding-bottom: 0;
    max-width: 600px
  }

  .responsive .inner_column .footer {
    position: static;
    display: block;
    background: rgba(0, 0, 0, 0.05);
    margin-top: 30px;
    padding: 10px 20px;
    line-height: 1.8
  }

  .responsive .inner_column .footer .icon_logo {
    float: right
  }

  .responsive .inner_column .footer .icon_logo .svgicon {
    margin: 0 0 0 10px
  }

  .responsive .inner_column .footer .dot.last_dot {
    display: none
  }

  .responsive .inner_column .footer .breadcrumbs {
    text-align: left
  }

  .responsive .inner_column .footer .update_timestamp {
    display: block;
    opacity: 0.7
  }

  .responsive .inner_column .footer .update_timestamp:before {
    content: ""
  }
}

@media (max-width: 650px) {
  .responsive .inner_column .footer {
    padding-bottom: 60px
  }
}

.inner_column.size_small {
  font-size: 11px
}

.inner_column.size_medium {
  font-size: 13px
}

.inner_column.size_large {
  font-size: 16px
}

.inner_column.size_very_large {
  font-size: 19px
}

@media (max-width: 1000px) {
  .responsive .inner_column.size_very_large {
    font-size: 16px
  }
}

.inner_column.family_pixel.size_small {
  font-size: 8px
}

.inner_column.family_pixel.size_small .column {
  font-size: 8px
}

.inner_column.family_pixel.size_small h1, .inner_column.family_pixel.size_small h2, .inner_column.family_pixel.size_small h3, .inner_column.family_pixel.size_small h4 {
  font-size: 8px;
  font-weight: bold
}

.inner_column.family_pixel.size_medium {
  font-size: 16px
}

.inner_column.family_pixel.size_medium .column {
  font-size: 16px
}

.inner_column.family_pixel.size_medium h1, .inner_column.family_pixel.size_medium h2, .inner_column.family_pixel.size_medium h3, .inner_column.family_pixel.size_medium h4 {
  font-size: 24px;
  font-weight: bold
}

.inner_column.family_pixel.size_large, .inner_column.family_pixel.size_very_large {
  font-size: 24px
}

.inner_column.family_pixel.size_large .column, .inner_column.family_pixel.size_very_large .column {
  font-size: 24px
}

.inner_column.family_pixel.size_large h1, .inner_column.family_pixel.size_large h2, .inner_column.family_pixel.size_large h3, .inner_column.family_pixel.size_large h4, .inner_column.family_pixel.size_very_large h1, .inner_column.family_pixel.size_very_large h2, .inner_column.family_pixel.size_very_large h3, .inner_column.family_pixel.size_very_large h4 {
  font-size: 40px;
  font-weight: normal
}

.inner_column p, .inner_column ul, .inner_column ol {
  line-height: 1.4
}

.inner_column a {
  color: #ff0b34
}

.inner_column h2, .inner_column h3, .inner_column h4 {
  margin: 0.8em 20px
}

.inner_column h2 {
  margin-top: 1.6em
}

.inner_column h1 {
  margin: 20px 20px 0 20px
}

.inner_column hr {
  margin: 1em 0;
  border: 0;
  height: 1px;
  background: #dadada
}
.columns {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px
}

.columns .left_col {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 0;
  min-width: 0
}

.columns .right_col {
  width: 367px
}

.game_page_apperance_columns {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

.game_page_apperance_columns>.game_page_primary_column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1
}

.popup_details {
  z-index: 1002
}

.html_embed_widget .button.load_iframe_btn, .html_embed_widget .button.restore_btn {
  height: auto;
  padding: 0.4em 0.8em;
  font-size: 120%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.html_embed_widget .button.load_iframe_btn .svgicon, .html_embed_widget .button.restore_btn .svgicon {
  margin-right: 5px
}

.html_embed_widget .iframe_placeholder, .html_embed_widget .restore_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  box-sizing: border-box
}

.html_embed_widget .iframe_placeholder .embed_info, .html_embed_widget .restore_wrapper .embed_info {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  padding: 10px
}

.html_embed_widget .game_frame {
  margin: 0 auto;
  position: relative;
  background-position: 50% 50%
}

.html_embed_widget .game_frame.maximized {
  margin: 0;
  width: 100% !important;
  height: 100% !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-image: none
}

.html_embed_widget .game_frame.maximized .restore_wrapper {
  display: none
}

.html_embed_widget .game_frame.game_pending .fullscreen_btn {
  display: none
}

.html_embed_widget .game_frame.start_maximized.game_loaded:not(.maximized) iframe {
  display: none
}

.html_embed_widget .game_frame.start_maximized.game_loaded:not(.maximized) iframe:-webkit-full-screen {
  display: block
}

.html_embed_widget .game_frame.start_maximized.game_loaded:not(.maximized) iframe:-moz-full-screen {
  display: block
}

.html_embed_widget .game_frame.start_maximized.game_loaded:not(.maximized) iframe:-o-full-screen {
  display: block
}

.html_embed_widget .game_frame.start_maximized.game_loaded:not(.maximized) iframe:fullscreen {
  display: block
}

.html_embed_widget .game_frame:not(.game_loaded) .restore_wrapper {
  display: none
}

.html_embed_widget .game_frame iframe {
  height: 0;
  width: 0;
  border: 0;
  box-sizing: border-box;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%
}

.html_embed_widget .fullscreen_btn {
  opacity: .4;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 8px;
  font-size: 16px;
  display: block;
  transition: opacity 0.4s;
  background: none;
  padding: 0;
  border: 0;
  cursor: pointer
}

.html_embed_widget .fullscreen_btn img {
  display: block;
  width: 30px;
  height: 30px
}

.html_embed_widget .fullscreen_btn:hover {
  opacity: .8
}

.html_embed_widget .game_error {
  font-family: Lato, sans-serif;
  font-size: 14px;
  color: #222;
  width: 350px;
  margin: 20px auto;
  border: 1px solid #efbebe;
  border-radius: 2px;
  background: #f9e7e7;
  line-height: 1.4;
  box-shadow: 0 0 0 4px white
}

.html_embed_widget .game_error .error_details {
  margin: 10px 20px
}

.html_embed_widget .game_error .error_details>h3 {
  color: inherit;
  font-size: inherit;
  margin: 0 0 10px 0
}

.html_embed_widget .game_error .error_help {
  border-top: 1px solid #f4d2d2;
  color: #222;
  padding: 10px 20px
}
.view_game_page.view_flash_game_page, .view_game_page.view_unity_game_page, .view_game_page.view_java_game_page, .view_game_page.view_html_game_page {
  *zoom: 1
}

.view_game_page.view_flash_game_page:before, .view_game_page.view_flash_game_page:after, .view_game_page.view_unity_game_page:before, .view_game_page.view_unity_game_page:after, .view_game_page.view_java_game_page:before, .view_game_page.view_java_game_page:after, .view_game_page.view_html_game_page:before, .view_game_page.view_html_game_page:after {
  content: " ";
  display: table
}

.view_game_page.view_flash_game_page:after, .view_game_page.view_unity_game_page:after, .view_game_page.view_java_game_page:after, .view_game_page.view_html_game_page:after {
  clear: both
}

.view_game_page.view_flash_game_page .center_column, .view_game_page.view_unity_game_page .center_column, .view_game_page.view_java_game_page .center_column, .view_game_page.view_html_game_page .center_column {
  margin: 20px 0
}

@media (max-width: 400px) {
  .view_game_page.view_flash_game_page .center_column, .view_game_page.view_unity_game_page .center_column, .view_game_page.view_java_game_page .center_column, .view_game_page.view_html_game_page .center_column {
    margin: 0
  }
}


.view_game_page.view_flash_game_page .embed_wrapper, .view_game_page.view_html_game_page .embed_wrapper {
  margin: 20px 0
}

@media (max-width: 400px) {
  .view_game_page.view_html_game_page .center_column {
    margin-top: 20px
  }
}
.view_game_page .formatted_description {
  margin: 20px;
  margin-bottom: 40px;
  margin-top: 0
}

.view_game_page .formatted_description .empty_text {
  font-style: italic;
  color: blue
}

.view_game_page .formatted_description>:first-child {
  margin-top: 0
}

.view_game_page .more_information_toggle {
  margin: 0 20px 20px 20px
}

.view_game_page .more_information_toggle.open .svgicon {
  transform: rotate(180deg)
}

.view_game_page .more_information_toggle .aggregate_rating {
  font-size: 16px
}

.view_game_page .more_information_toggle .toggle_row {
  margin-bottom: 10px
}

.view_game_page .more_information_toggle .svgicon {
  transition: transform 0.2s ease;
  margin-left: 5px;
  opacity: 0.7;
  fill: #222
}
.view_game_page .button {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  background: #FF2449;
  color: white;
  text-decoration: none;
  padding: 0 10px;
  font-size: 14px;
  text-shadow: 0 1px 0 #c3223e;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.21);
  text-align: center;
  line-height: 33px;
  font-weight: bold;
  height: 35px;
  min-width: 75px
}

.view_game_page .button:hover {
  background: #blue
}

.view_game_page .button:active {
  background-color: #e1193b;
  position: relative;
  top: 1px
}

.view_game_page .missing_game {
  width: 450px;
  margin: 20px auto;
  text-align: center;
  font-size: 18px;
  line-height: 1.8
}


.view_game_page .column {
  padding-bottom: 20px
}


.view_game_page .info_panel_wrapper {
  display: none
}

.view_game_page .game_info_panel_widget {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px
}
